/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/New/lato-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/New/lato-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/New/lato-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/New/lato-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/New/lato-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/New/lato-v20-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* dancing-script-regular - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/New/dancing-script-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/New/dancing-script-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/New/dancing-script-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/New/dancing-script-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/New/dancing-script-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/New/dancing-script-v19-latin-regular.svg#DancingScript') format('svg'); /* Legacy iOS */
}

/* pacifico-regular - latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/New/pacifico-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/New/pacifico-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/New/pacifico-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/New/pacifico-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/New/pacifico-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/New/pacifico-v17-latin-regular.svg#Pacifico') format('svg'); /* Legacy iOS */
  }

body {
    padding: 0;
    margin: 0;
}

.lato {
    font-family: 'Lato' !important;
}

.pacifico {
    font-family: 'Pacifico' !important;
}

.dancing-script {
    font-family: 'Dancing Script' !important;
}

#first-box {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#first-box::before {
    /* content: ''; */
    width: 97.5%;
    height: 95%;
    border: 1px solid #B38728;
    /* background-clip: padding-box; */
    border-radius: 2.5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#first-box::after {
    /* content: ''; */
    width: 95.5%;
    height: 90%;
    border: 3.5px solid #B38728;
    /* background-clip: padding-box; */
    border-radius: 2.5px;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#first-box .content {
    height: auto;
}

#first-box .content::before {
    content: '';
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: left -75px top -30px;
    background-size: 100%;
    background-image: url('../images/leaf-one-02-02.png');
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

#first-box .content::after {
    content: '';
    width: 500px;
    height: 500px;
    /* background-color: #000; */
    background-repeat: no-repeat;
    background-position: right -75px bottom -30px;
    background-size: 100%;
    background-image: url('../images/leaf-two-02-02.png');
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
}

#first-box .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#first-box .content .f1 {
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}

@keyframes leafshake {
    0% {
        width: 80px;
        height: 80px;
        opacity: 1;
        transform: translate(0, 0px) rotateZ(0deg);
    }

    75% {
        width: 80px;
        height: 80px;
        opacity: 1;
        transform: translate(100px, 600px) rotateZ(270deg); 
    }

    100% {
        width: 80px;
        height: 80px;
        opacity: 0;
        transform: translate(150px, 800px) rotateZ(360deg);
    }
}

#first-box .text-box {
    padding: 10% 15%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('../images/leaf-three-02-02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#first-box .wrapper-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

#first-box .h1-wt {
    font-size: 4.5rem;
}

#first-box .h1-wt-middle {
    font-style: italic;
    position: relative;
}

#first-box .h1-wt-middle::before {
    content: '';
    width: 75px;
    height: 1.5px;
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
    position: absolute;
    left: 150%;
    top: 50%;
    transform: translateY(-50%);
}

#first-box .h1-wt-middle::after {
    content: '';
    width: 75px;
    height: 1.5px;
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
    position: absolute;
    right: 150%;
    top: 50%;
    transform: translateY(-50%);
}

.ma-b-25 {
    margin-bottom: 25px;
}

.sans-serif {
    font-family: sans-serif !important;
}

.color-gold {
    color: #B38728 !important;
}

#second-box {
    padding: 5% 2.5%;
    overflow: hidden;
}

#second-box .content {
    position: relative;
}

#second-box .wrapper-box {
    padding: 2.5%;
    border: 1px solid #B38728;
    border-radius: 5px;
}

#second-box .btn-countdown {
    margin-top: 10px;
    text-decoration: none;
    color: #B38728;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

#second-box .wrapper-date {
    background-color: #B38728;
    border-radius: 10px;
    color: #fff;
    padding: 2.5% 2.5%;
}

#second-box .wrapper-date .p {
    margin: 0;
}

#countdown-box {
    height: auto;
    position: relative;
    overflow: hidden;
}

#countdown-box .content {
    padding-top: 10%;
    padding-bottom: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#countdown-box .content::before {
    content: '';
    width: 350px;
    height: 350px;
    /* background-color: #000; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../images/leaf-two-02-02.png');
    position: absolute;
    transform: rotate(180deg);
    top: 0;
    left: -5%;
}

#countdown-box .content::after {
    content: '';
    width: 350px;
    height: 350px;
    /* background-color: #000; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../images/leaf-two-02-02.png');
    position: absolute;
    transform: rotate(180deg) scaleX(-1);
    top: 0;
    right: -5%;
}

#countdown-box .wrapper-box {
    width: 75%;
    display: flex;
    padding-top: 2.5%;
}

#countdown-box #days,
#countdown-box #hours,
#countdown-box #minute,
#countdown-box #seconds {
    width: 20%;
    padding: 2.5% 10px;
    background-color: #B38728;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    margin: auto;
}

#countdown-box #days .count,
#countdown-box #hours .count,
#countdown-box #minute .count,
#countdown-box #seconds .count {
    font-size: 36px;
}

#gift-box {
    height: auto;
    position: relative;
    overflow: hidden;
}

#gift-box .content {
    padding-top: 0%;
    padding-bottom: 10%;
}

#gift-box .content::before {
    content: '';
    width: 350px;
    height: 350px;
    /* background-color: #000; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../images/leaf-two-02-02.png');
    position: absolute;
    transform: rotate(360deg);
    bottom: -10%;
    right: -5%;
}

#gift-box .content::after {
    content: '';
    width: 350px;
    height: 350px;
    /* background-color: #000; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../images/leaf-two-02-02.png');
    position: absolute;
    transform: rotate(360deg) scaleX(-1);
    bottom: -10%;
    left: -5%;
}

#gift-box .box-gift-desc {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

#gift-box .title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gift-box .box-gift-desc .rekening {
    width: auto;
    padding: 2.5% 7.5%;
    background-color: #B38728;
    border-radius: 10px;
}

#gift-box .box-gift-desc button {
    border: none;
    background-color: #B38728;
    color: #fff;
    padding: 2.5%;
    border-radius: 10px;
    font-size: 14px;
}

#gift-box .box-gift-desc .rekening p {
    margin: 0;
}

#maps-box {
    position: relative;
    padding: 20px 5%;
}

#maps-box .wrapper-button {
    margin-top: 40px;
}

#maps-box .wrapper-button a {
    padding: 15px 25px;
    background-color: #B38728;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
}

#maps-box .wrapper-maps {
    width: 100%;
    padding: 10px;
    background-color: #B38728;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(25,25,25,0.2);
}

#maps-box .wrapper-maps iframe {
    height: 500px;
    width: 100%;
    border-radius: 10px;
}

#protocol-box {
    position: relative;
    padding: 5% 2.5%;
    padding-top: 10%;
    overflow: hidden;
}

#protocol-box .content::before {
    content: '';
    width: 350px;
    height: 350px;
    /* background-color: #000; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../images/leaf-two-02-02.png');
    position: absolute;
    transform: rotate(180deg);
    top: -5%;
    left: -5%;
}

#protocol-box .content::after {
    content: '';
    width: 350px;
    height: 350px;
    /* background-color: #000; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../images/leaf-two-02-02.png');
    position: absolute;
    transform: rotate(180deg) scaleX(-1);
    top: -5%;
    right: -5%;
}

#protocol-box .wrapper-box {
    display: flex;
}

#protocol-box .wrapper-box .protocol {
    background-color: #B38728;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5%;
    border-radius: 10px;
    margin: auto;
    width: 20%;
    height: 100%;
    text-align: center;
}

#protocol-box .wrapper-box .protocol i {
    font-size: 42px !important;
    margin-bottom: 10px;
}

/* ===== Leaf ===== */
.single-leaf {
    width: 120px;
    height: 120px;
    position: absolute;
    /* background-color: #000; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: leafshake 10s infinite linear;
    z-index: -1;
}

#last-box {
    position: relative;
    overflow: hidden;
}

/* First Box */

.single-leaf.first-box.leaf-one.left {
    left: 10%; top: -20%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 1s;
}

.single-leaf.first-box.leaf-two.left {
    left: 2.5%; top: -20%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 4s;
}

.single-leaf.first-box.leaf-three.left {
    left: 20%; top: -20%;
    background-image: url('../images/single-leaf-04.png');
    animation-delay: 2.5s;
}

.single-leaf.first-box.leaf-four.left {
    left: 10%; top: -20%;
    background-image: url('../images/single-leaf-05.png');
    animation-delay: 5.5s;
}

.single-leaf.first-box.leaf-five.left {
    left: 20%; top: -20%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 7s;
}

.single-leaf.first-box.leaf-six.left {
    left: 5%; top: -20%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 8.5s;
}

.single-leaf.first-box.leaf-one.right {
    right: 5%; top: -20%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 1s;
}

.single-leaf.first-box.leaf-two.right {
    right: 10%; top: -20%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 4s;
}

.single-leaf.first-box.leaf-three.right {
    right: 20%; top: -20%;
    background-image: url('../images/single-leaf-04.png');
    animation-delay: 2.5s;
}

.single-leaf.first-box.leaf-four.right {
    right: 15%; top: -20%;
    background-image: url('../images/single-leaf-05.png');
    animation-delay: 5.5s;
}

.single-leaf.first-box.leaf-five.right {
    right: 25%; top: -20%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 7s;
}

.single-leaf.first-box.leaf-six.right {
    right: 15%; top: -20%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 8.5s;
}


/* Second Box */

.single-leaf.second-box.leaf-one.left {
    left: 10%; top: -35%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 1s;
}

.single-leaf.second-box.leaf-two.left {
    left: 2.5%; top: -35%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 4s;
}

.single-leaf.second-box.leaf-three.left {
    left: 20%; top: -35%;
    background-image: url('../images/single-leaf-04.png');
    animation-delay: 2.5s;
}

.single-leaf.second-box.leaf-four.left {
    left: 10%; top: -35%;
    background-image: url('../images/single-leaf-05.png');
    animation-delay: 5.5s;
}

.single-leaf.second-box.leaf-five.left {
    left: 20%; top: -35%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 7s;
}

.single-leaf.second-box.leaf-six.left {
    left: 5%; top: -35%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 8.5s;
}

.single-leaf.second-box.leaf-one.right {
    right: 5%; top: -35%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 1s;
}

.single-leaf.second-box.leaf-two.right {
    right: 10%; top: -35%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 4s;
}

.single-leaf.second-box.leaf-three.right {
    right: 20%; top: -35%;
    background-image: url('../images/single-leaf-04.png');
    animation-delay: 2.5s;
}

.single-leaf.second-box.leaf-four.right {
    right: 15%; top: -35%;
    background-image: url('../images/single-leaf-05.png');
    animation-delay: 5.5s;
}

.single-leaf.second-box.leaf-five.right {
    right: 25%; top: -35%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 7s;
}

.single-leaf.second-box.leaf-six.right {
    right: 15%; top: -35%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 8.5s;
}



/* Last Box */

.single-leaf.last-box.leaf-one.left {
    left: 10%; top: -15%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 1s;
}

.single-leaf.last-box.leaf-two.left {
    left: 2.5%; top: -15%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 4s;
}

.single-leaf.last-box.leaf-three.left {
    left: 20%; top: -15%;
    background-image: url('../images/single-leaf-04.png');
    animation-delay: 2.5s;
}

.single-leaf.last-box.leaf-four.left {
    left: 10%; top: -15%;
    background-image: url('../images/single-leaf-05.png');
    animation-delay: 5.5s;
}

.single-leaf.last-box.leaf-five.left {
    left: 20%; top: -15%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 7s;
}

.single-leaf.last-box.leaf-six.left {
    left: 5%; top: -15%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 8.5s;
}

.single-leaf.last-box.leaf-one.right {
    right: 5%; top: -15%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 1s;
}

.single-leaf.last-box.leaf-two.right {
    right: 10%; top: -15%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 4s;
}

.single-leaf.last-box.leaf-three.right {
    right: 20%; top: -15%;
    background-image: url('../images/single-leaf-04.png');
    animation-delay: 2.5s;
}

.single-leaf.last-box.leaf-four.right {
    right: 15%; top: -15%;
    background-image: url('../images/single-leaf-05.png');
    animation-delay: 5.5s;
}

.single-leaf.last-box.leaf-five.right {
    right: 25%; top: -15%;
    background-image: url('../images/single-leaf-02.png');
    animation-delay: 7s;
}

.single-leaf.last-box.leaf-six.right {
    right: 15%; top: -15%;
    background-image: url('../images/single-leaf-03.png');
    animation-delay: 8.5s;
}